
<div class="card">
    <div class="card-header">
       Agregar Estudiante
    </div>
    <div class="card-body">

       <form ngNativeValidate [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()" >

         <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input
            required
                type="text"
                class="form-control"
                name="" formControlName="nombre"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe tu nombre"
            />
            
         </div>
      

         <div class="mb-3">
            <label for="" class="form-label">Descripcion</label>
            <input
                required
                type="text"
                class="form-control"
                name="" formControlName="descripcion"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe la Descripcion"
            />
        
         </div>


         <div class="mb-3">
            <label for="" class="form-label">Destino</label>
            <input
                required
                type="text"
                class="form-control"
                name="" formControlName="destino"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Destino"
            />
        
         </div>


         <div class="mb-3">
            <label for="" class="form-label">Duracion</label>
            <input
                required
                type="text"
                class="form-control"
                name="" formControlName="duracion"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe la Duracion"
            />
        
         </div>
         <div class="mb-3">
            <label for="" class="form-label">Precio</label>
            <input
                required
                type="text"
                class="form-control"
                name="" formControlName="precio"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Precio"
            />
        
         </div>
         <!-- agregamos esta linea 03 /////////////// -->
         <div class="mb-3">
            <label for="" class="form-label">Cupo</label>
            <input
                required
                type="text"
                class="form-control"
                name="" formControlName="cupo"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Cupo"
            />
        
         </div>
         <div class="mb-3">
            <label for="" class="form-label">Contacto</label>
            <input
                required
                type="text"
                class="form-control"
                name="" formControlName="contacto"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Contacto"
            />
        
         </div>


     


        
         
         <div class="btn-group" role="group" aria-label="Button group name">
            <button
                type="submit"
                class="btn btn-dark"
            >
                Agregar
            </button>
            

            <button
                type="button"
                class="btn btn-danger" style="margin-left: 7px;"
                routerLink="/listar-empleado"
            >
                Cancelar
            </button>
           
         </div>
         
       </form>
    </div>
  
</div>
