<div class="card">
    <div class="card-header">
       Editar Estudiante
    </div>
    <div class="card-body">
       <form ngNativeValidate [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()" >

         <!-- <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input
            required
                type="text"
                class="form-control"
                name="" formControlName="nombre"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe tu nombre"
            />

         </div>


         <div class="mb-3">
            <label for="" class="form-label">Descripcion</label>
            <input
            required
                type="text"
                class="form-control"
                name="" formControlName="descripcion"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe la Descripcion"
            />

         </div>

         <div class="mb-3">
            <label for="" class="form-label">Destino</label>
            <input
            required
                type="text"
                class="form-control"
                name="" formControlName="destino"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Destino"
            />

         </div>


         <div class="mb-3">
            <label for="" class="form-label">Duracion</label>
            <input
            required
                type="text"
                class="form-control"
                name="" formControlName="duracion"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe la Duracion"
            />

         </div>

         <div class="mb-3">
            <label for="" class="form-label">Precio</label>
            <input
                required
                type="text"
                class="form-control"
                name="" formControlName="precio"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Precio"
            />

         </div>

          //// agregamos esta linea 08

         <div class="mb-3">
            <label for="" class="form-label">Cupo</label>
            <input
            required
                type="text"
                class="form-control"
                name="" formControlName="cupo"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Cupo"
            />

         </div>

         <div class="mb-3">
            <label for="" class="form-label">Contacto</label>
            <input
            required
                type="text"
                class="form-control"
                name="" formControlName="contacto"
                id=""
                aria-describedby="helpId"
                placeholder="Escribe el Contacto"
            />

         </div> -->
         /////////////////////////////////////////////
         <div class="mb-3">
          <label for="" class="form-label">Cod_camara</label>
          <input
              required
              type="text"
              class="form-control"
              name="" formControlName="codigo_camara"
              id=""
              aria-describedby="helpId"
              placeholder="Escribe camara"
          />

       </div>
       <div class="mb-3">
        <label for="" class="form-label">modelo</label>
        <input
            required
            type="text"
            class="form-control"
            name="" formControlName="modelo"
            id=""
            aria-describedby="helpId"
            placeholder="Escribe el Contacto"
        />

     </div>
     <div class="mb-3">
      <label for="" class="form-label">marca</label>
      <input
          required
          type="text"
          class="form-control"
          name="" formControlName="marca"
          id=""
          aria-describedby="helpId"
          placeholder="Escribe el Contacto"
      />

   </div>
   <div class="mb-3">
    <label for="" class="form-label">precio</label>
    <input
        required
        type="text"
        class="form-control"
        name="" formControlName="preccio"
        id=""
        aria-describedby="helpId"
        placeholder="Escribe el Contacto"
    />

 </div>
 <div class="mb-3">
  <label for="" class="form-label">resolucion</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="resolucion"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">tipo</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="tipo"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">proveedor</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="proveedor"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">garantia</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="garantia"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">peso</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="peso"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">dimensiones</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="dimensiones"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">tipo_sensor</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="tipo_sensor"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">lente_incluido</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="lente_incluido"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">tipo_almacenamiento</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="tipo_almacenamiento"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">bateria</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="bateria"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>
<div class="mb-3">
  <label for="" class="form-label">observaciones</label>
  <input
      required
      type="text"
      class="form-control"
      name="" formControlName="observaciones"
      id=""
      aria-describedby="helpId"
      placeholder="Escribe el Contacto"
  />

</div>






         <div class="btn-group" role="group" aria-label="Button group name">
            <button
                type="submit"
                class="btn btn-dark"
            >
                Modificar Empleado
            </button>
            <button
                type="button"
                class="btn btn-danger" style="margin-left: 7px;"
                routerLink="/listar-empleado"
            >
                Cancelar
            </button>

         </div>

       </form>
    </div>

</div>
